body {
    background-color: black;
    color: white;
    margin: 0;       /* Resets default margin */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial; /* Optional: sets a default font */
    -webkit-font-smoothing: antialiased; /* Optional: smooths the font on the page */
    -moz-osx-font-smoothing: grayscale;  /* Optional: smooths the font on the page */
}

.login-logo {
    width: 300px;
    margin-bottom: 25px;
}

.modal-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
}

.modal-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
  }
  
  .modal-content {
    width: 300px; 
    padding: 20px; 
    background-color: #121212;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  }


  .modal-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    width: 360px; 
    background-color:#232323;
    border-radius: 5px;
  }

  .modal-content h2 {
    margin-top: 0;
    font-weight: normal;
  }
  
  /* Added styles */
  .modal-content select {
    width: 100%;
    background: #333; 
    color: white;
    font-size: 14px;
    padding: 20px;
    appearance: none; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'><path d='M7 10l5 5 5-5z'/></svg>");
    background-position: right 10px center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px; /* to separate it from the buttons */
  }


  
.modal-content button {
all: unset;
background-color: #3688DA;
border-radius: 40px;
padding-left: 25px;
padding-right: 25px;
height: 40px;
}

.modal-content button:hover {
    cursor: pointer;
}

/* Splash Screen Styles */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* you can change this to match your app's background color */
}

.link-button {
    background-color: transparent !important;
    border: 1px solid white !important; /* Change 'white' to any desired border color */
}

.link-button:hover {
    background-color: #333 !important;
}

.done-button:hover {
    background-color: #4a9def;
}
  

@keyframes popIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.1); /* Overshoots a little to give a springy effect */
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.splash-logo {
    animation: popIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
    width: 80px;
}
/* Container styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

/* Full-page container */
.full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
}

/* Input styles */
.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #121212;
    border: 1px solid #121212;
}

/* Error message */
.error-message {
    padding: 15px;
    background-color: #eb3b5a;
    color: white;
    margin-bottom: 15px;
    border-radius: 12px;
}

/* Ensure consistent box-sizing for all elements */
.login-container *,
.login-container *::before,
.login-container *::after {
    box-sizing: border-box;
}

/* Button styles */
.login-container button {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background-color: #3688DA;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #6ea4db;
}

.icon {
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-container {
    background-color: #121212;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white; /* for the text color */
    border-radius: 12px;
    position: relative; /* to allow absolute positioning of play button */
}

.tracks-container {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* for the text color */
}

.tracks-list {
    height: 650px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

.track-item {
    display: flex;          /* Layout children (track number and track info) in a row */
    align-items: center;    /* Vertically center children */
    padding: 10px 0;        /* Some vertical padding for spacing between tracks */
    border-radius: 5px;
}

.track-name.locked {
    opacity: 0.5;
}

.track-name.selected {
    color: #3688DA; /* Or any color you'd like to use for highlighting */
}

.track-item:hover {
    background-color: #232323;
}

.tab-content {
    margin-top: 20px;
}

/* Default view, only show text */
.tab-icon {
    display: none;
}



.track-number {
    width: 30px;   /* Fixed width for the track number */
    text-align: right;  /* Align number to the right of its container */
    margin-right: 10px; /* Some spacing between the number and the track info */
}

.track-info {
    flex: 1;  /* Take the remaining width */
    display: flex;
    flex-direction: column;  /* Stack the track name and duration vertically */
    justify-content: center; /* Vertically center the name and duration */
}

.track-name {
    font-size: 16px; /* Adjust as needed */
}

.track-duration {
    font-size: 14px; /* Adjust as needed */
    color: #777;     /* A muted color for the duration */
}

.projects-list {
    padding: 10px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;  /* This will horizontally center the child elements */
    border-radius: 12px;
    gap: 10px; /* Adds space between each project cover */
}

.project-item {
    position: relative;
    width: 60px; /* Ensure it's less than 100% to observe centering */
    text-align: center; /* To ensure the image inside is centered if it doesn't take full width */
    cursor: pointer;
}

.tooltip {
    opacity: 0; /* Start with fully transparent */
    position: absolute;
    top: 50%;
    left: 110%; 
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    margin-left: 10px;
    transition: opacity 0.3s ease; /* This will provide the fade effect */
    pointer-events: none; /* This ensures the tooltip doesn't interfere with mouse events when invisible */
    text-align: left;  /* This will align the text to the left */
}

.tooltip-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* A small space between title and description */
}

.tooltip-description {
    font-size: 16px;
    opacity: 0.5;
}

.menu-button {
    color: white;
}

.menu-button:hover .tooltip {
    opacity: 1; /* Full visibility on hover */
}

.project-item:hover .tooltip {
    opacity: 1; /* Full visibility on hover */
}

.project-item img {
    border-radius: 10px;
    max-width: 100%;  /* Ensures the image doesn't overflow its container */
    cursor: pointer;
}
  
.album-image {
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

.mini-album-image {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
  
.project-info {
    display: flex;
    justify-content: space-between; /* this will push items to either end of the container */
    align-items: center; /* this will vertically center align items */
    flex-grow: 1; /* Takes up all available space */
    box-sizing: border-box;
    width: 300px;
}

.play-button {
    background-color:white;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-circle {
    width: 44px;  /* Adjust size as needed */
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  /* Makes it circular */
    background-color: #232323;  /* Adjust color as needed */
    color: white;
    font-size: 15px;  /* Adjust font-size as needed */
}

.artist-circle:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background: #333;
}

.project-name {
    font-size: 22px; /* Adjust as needed */
    font-weight: 600;
    width: 200px !important; /* Override marquee style */
}

.mini-project-info {
    margin-left: 15px;
}

.mini-project-name {
    font-size: 15px; /* Adjust as needed */
    font-weight: 600;
}

.mini-track-count {
    font-size: 15px; /* Adjust as needed */
    font-weight: 200;
}

.track-count {
    font-size: 15px; /* Adjust as needed */
    opacity: 0.6; /* Less opacity; adjust as desired */
    /* Any other styles specific to the track count */
}

.app-container {
    display: flex;
    flex: 1
}

.app-wrapper {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh;      /* Take up full viewport height */
}

.mini-album-art-section {
    background-color: #121212;
    border-radius: 12px;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.projects-section {
    width: 80px;
    padding: 10px;
    display: flex; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    flex-direction: column; /* To stack child elements vertically */
}

.album-art-section {
    display: flex;
    flex-direction: column;  /* This ensures children are stacked vertically */
    align-items: flex-start; /* centers the project art */
    background-color: black; /* as you mentioned you want a black background */
    color: white; /* for the text color */
    padding-top: 10px;
}

.edit-project-section {
    flex: 1; /* take 1/3 of the space */
    overflow-y: auto; /* in case the tracks list gets too long */
    padding: 10px;
    margin-right: 10px;
}

.tracks-list.dragging {
    border-radius: 10px;
    background: #232323;
    transition: background-color 0.1s ease;
}

.dropzone-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 500;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    font-size: 1.1rem;
    border: 1px solid rgba(10, 10, 10, 0.1);
}

.activity-list {
    width: 360px;
    padding-top: 10px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.activity-item {
    padding:10px;
    border-radius: 10px;
    background-color: #121212;
    display: flex;
    align-items: center; /* Vertically center the content */
    margin-bottom: 10px; /* Some spacing between items */
}

/* ExpandedPlayer.css */

.header {
    display: flex;
    align-items: center; /* Vertically center the contents */
    justify-content: center; /* Horizontally center the text */
    width: 100%; /* Take full width of the player */
    height: 60px; /* Assuming this as the height of the header, you can adjust it */
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 1000; /* Ensure it stays on top */
}

.chevron-button {
    position: absolute;
    left: 30px; /* 30px margin from the left */
    background-color: transparent;
    font-size: 22px;
    border: none;
    color: white; /* Assuming white for the icon color */
    cursor: pointer;
}

.now-playing {
    font-size: 18px; /* Adjust according to your preference */
    font-weight: 600;
    color: white; /* Assuming white as the text color */
}



.expanded-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the album art and track details container */
    justify-content: center;
    z-index: 999;
    overflow: hidden; 
}

.expanded-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left align the items inside */
    text-align: left; /* Ensure text inside is also left-aligned */
}
  
  .expanded-album-art {
    max-height: 300px;
    margin-bottom: 30px;
  }
  
  .expanded-track-name {
    font-weight: bold;
    font-size: 25px;
  }

  .expanded-track-info {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
  }
  
  .expanded-player .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }

.activity-profile-pic {
    display: flex; /* Converts the container into a flex container */
    align-items: center; /* Vertically aligns child items in the center */
    justify-content: center; /* Horizontally aligns child items in the center */

    background-color: #232323;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it circular */
    margin-right: 10px; /* Space between the image and the text */
}

.activity-text {
    flex: 1; /* Allow the text to take up remaining space */
    word-wrap: break-word; /* Break words if they are too long */
}

.tab-bar {
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #121212;
    border-radius: 15px;
    padding: 10px 0;
}

.tab-bar button {
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

.tab-bar button {
    width: 15%;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Set this to your desired size */
}

.tab-bar button:hover {
    background-color: #555;
}

.tab-bar button.active {
    background-color: #3688DA; /* Blue background for the active state */
}

.player {
    width: 100%;
    height: 80px;          /* Adjust as necessary */
    position: fixed;       /* Make it fixed to the viewport */
    bottom: 0;             /* Pin it to the bottom */
    left: 0;
    width: 100%;
    background-color: #121212; /* Dark background color */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    padding: 0 20px; /* Some horizontal padding */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.play-pause {
    width: 35px;
    height: 35px;
    color: black;
    border-radius: 50%;
    border: none;
    background-color: clear;
    transition: transform 0.3s ease; /* for smooth scaling */
}

.bigger-controls {
    font-size: 30px;
    width: 80px;
    height: 80px;
}

.play-pause:hover {
    transform: scale(1.05); /* Adjust 1.2 as per your requirement */
}

.player-left {
    display: flex;
    align-items: center;
}

.player-art {
    width: 50px; /* Adjust based on your preference */
    height: 50px;
    margin-right: 10px;
    border-radius: 8px;
}

.player-info {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    position: absolute;
}

.expanded-player-header {
    top: 0;
}

.player-info .track-name {
    font-size: 18px;
}

.player-info .artist-name {
    font-size: 14px;
    opacity: 0.7; /* Slightly faded to differentiate from track name */
}

.expanded-player, .player {
    transition: transform 0.2s ease-out;
}

.expanded-player {
    transform: translateY(100%); /* Starts off the screen */
}

.player-container.expanded .expanded-player {
    transform: translateY(0); /* Slides into view */
}

.player-center {
    flex: 1; /* To take the remaining space in the player */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added this */
}

.scrub-bar {
    display: flex;
    align-items: center;
    width: 40%;
}

.expanded-scrub-bar {
    margin-top: 25px;
    display: flex;
    align-items: center;
    width: 300px;
}

.scrub-bar-controls {
    width: 100%; /* Adjust as desired */
    height: 4.5px;
    background-color: #555; /* Adjust based on your design */
    border-radius: 12px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: white; /* Or any desired color */
    border-radius: 12px;
}

.seeker {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 2px;
}

.seeker::-webkit-slider-runnable-track {
    margin-left: -6.5px; /* half the thumb width */
}

.seeker::-moz-range-track {
    margin-left: -6.5px; /* half the thumb width */
}

.seeker::-webkit-slider-thumb {
    appearance: none;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px; 
}

.time-label {
    font-size: 12px;
    margin: 0 5px;
    color: white;
    opacity: 0.6;
}

.seeker::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.project-play-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #3688DA;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* added box-shadow to the transition */
    padding-top: 3.75px;
    padding-right: 5px;
}

.project-share-btn {
    all: unset;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.project-share-btn:hover {
    background-color: #232323;
}

.project-play-btn:hover, .project-play-btn:focus {
    box-shadow: 0 0 15px 5px rgba(54, 136, 218, 0.1); /* soft blue glow */
}

.project-play-btn:hover {
    transform: scale(1.05); /* Adjust 1.2 as per your requirement */
    background-color: #4a9def;
}

.controls {
    display: flex;
    margin-top: 10px; /* This margin is relative to player-center now, adjust as needed */
    align-items: center;
    gap: 20px; /* Space between controls */
}

.expanded-controls {
    display: flex;
    margin-top: 50px; /* This margin is relative to player-center now, adjust as needed */
    align-items: center;
    gap: 50px; /* Space between controls */
    font-size: 35px;
}

.menu-bar {
    background-color: #121212;
    border-radius: 12px;
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    padding: 10px;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; 
}

.menu-button {
    width: 60px; /* Width is 80% of the viewport width */
    height: 50px;
    position: relative; /* Required to position content inside */

    /* The following styles help center the button content */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Any other button styles you want */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.popup {
    opacity: 1;
    /* visibility: hidden; */
    transition: opacity 0.2 ease-out;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.active {
    opacity: 1;
    visibility: visible; /* Add this */
}

.popup-content {
    background: #232323;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;            /* Removes default padding */
    margin: 0;             /* Removes default margin */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.artist-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 8px;
    padding: 10px;
}

.artist-item:hover {
    background: #151515;
}

.artist-circle-2 {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 10px;
    background-color: #3d3d3d;
    font-size: 15px;  /* Adjust font-size as needed */
}
.artist-name {
    font-size: 16px;
}

/* If the screen size is below 768px, show the icon and hide the text */
@media only screen and (max-width: 767px) {
    .player-center {
        display: none;
    }
    .tab-icon {
        display: inline-block;
    }
    .tab-text {
        display: none;
    }
}
